packages
PackageRoot/*
**/TestResults/*
**/.vs/*
**/bin/*
**/obj/*
**/publish/*
msbuild.log
*.user
*.trace
*.sdf
*.tmp
~*.docx
~*.xlsx
/browser_extensions/
/Vault/Explorer/Properties/launchSettings.json
